@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,800&family=Oswald:wght@600&family=Poppins:wght@300;600&family=Roboto+Mono:ital,wght@0,600;1,400&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500&family=Space+Grotesk:wght@600&family=Urbanist:ital@1&display=swap');
#root {
margin: 0;
padding: 0px;
font-family: 'Montserrat', sans-serif;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

  .cn{
    width: 100px;
    height: 30px;
    background: yellow;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
