@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,800&family=Oswald:wght@600&family=Poppins:wght@300;600&family=Roboto+Mono:ital,wght@0,600;1,400&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500&family=Space+Grotesk:wght@600&family=Urbanist:ital@1&display=swap');
#root {
margin: 0;
padding: 0px;
font-family: 'Montserrat', sans-serif;
}