@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:ital,wght@0,400;0,700;0,900;1,800&family=Oswald:wght@600&family=Poppins:wght@300;600&family=Roboto+Mono:ital,wght@0,600;1,400&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500&family=Space+Grotesk:wght@600&family=Urbanist:ital@1&display=swap');
:root {
  font-family: 'Urbanist', sans-serif;
 /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}